<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/SpamFilter/src/Filter.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="Filter"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="D://UNI//MachineLearning//spam//SpamFilter//data//train4 D://UNI//MachineLearning//spam//SpamFilter//data//test4//3.txt"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="SpamFilter"/>
</launchConfiguration>
